<!DOCTYPE html>
<html>
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->
    
    <!-- META for share url -->
    <meta property="og:image" content="http://www.practiceportal.tv/images/pplogo_facebook.png" />
    <meta property="og:description" content="Practice Portal is an online community of musicians who share and improve their practice methods through live stream. 
For musicians, by musicians." />
    <meta property="og:url" content="http://www.practiceportal.tv/" />
    <meta property="og:title" content="Practice Portal" />

    <title>Practice Portal</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
    <!-- <link href="/stylesheets/simple-sidebar.css" rel="stylesheet"> -->
</head>

<body>

<h2>Join the PracticePortal Community!</h2>

<div id="id01" class="modal">
  <form action="action_page.php" method='post'>
    
      <label><b>First Name</b></label>
      <input type="text" placeholder="Jehan" name="firstname" required>
      <br/>
      <label><b>Last Name</b></label>
      <input type="text" placeholder="Shah" name="lastname" required>
      <br/>
      <label><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
      <br/>
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      <br/>
      <label><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      <br/>
      <input type="checkbox" checked="checked"> Remember me
      <input type='submit' value='Sign up'>
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

  </form>
</div>


<div class="footer">
  <div class="footer-left">
    <img src="../images/pplogo2.png">
    <div class="about-text">
    <h3>about practice portal</h3>
      Practice Portal is an online community of musicians who share and improve their practice methods through live stream.
      <br><br>
      For musicians, by musicians.
    </div>
  </div>
  <div class="footer-right">
    <div class="about-text">
      <h3>follow us</h3>
      <div class="follow-container">
      <a href="https://www.facebook.com/practiceportal/" target="_blank"><img src="../images/fb.png" class = "icon"></a> 
      <a href="https://www.facebook.com/practiceportal/" target="_blank">/practiceportal </a>
      </div>
      <div class="follow-container">
      <a href="https://www.instagram.com/practiceportal/" target="_blank"><img src="../images/insta.png" class="icon"></a>
      <a href="https://www.instagram.com/practiceportal/" target="_blank"> /practiceportal </a>
      </div>
      <div class="follow-container">
      <a href="https://twitter.com/PracticePortal" target="_blank"><img src="../images/twitter.png" class="icon"></a>
      <a href="https://twitter.com/PracticePortal" target="_blank"> /practiceportal </a>
      </div>
    </div>
  <div class="about-text">
    <h3>contact us</h3>
    <a href="mailto:team@practiceportal.tv">team@practiceportal.tv</a>
  </div>
</div>
</div>
</body>
</html>


<?php 
	$button = isset($_POST('submit'));

	if($button){

        mysql_connect("localhost","practiceportal","code4music");
        mysql_select_db(users);
		$sql = mysql_query("INSERT INTO users (username, password, ='$username' AND password='$password'");
		$get2 = mysql_fetch_assoc($get);
		$id = $get2['id'];
		$num = mysql_num_rows($get);
		if($num==1)
		{
			echo "This username already exists!";
		}
		else
		{
			echo "This username doesn't exist! Please sign up for an account."
		}
	}
	
?> 
